@model PropertyManager.Models.Reccomendation

@{
    ViewData["Title"] = "CreateRec";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateRec</h1>

<h4>Reccomendation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRec">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rec" class="control-label"></label>
                <textarea asp-for="Rec" class="form-control" rows="5" placeholder="Type Here"></textarea>
                <span asp-validation-for="Rec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label"></label>
                <select asp-for="PropertyId" class="form-control" asp-items="ViewBag.Property "></select>
                <span asp-validation-for="PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

