@model IEnumerable<PropertyManager.Models.Property>


@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<h1>Graph</h1>

<canvas id="myChart"></canvas>

<script>
    var labels = [];
    var data = [];
    @foreach(var item in Model)
    {
        <text>
    labels.push('@item.Name');
    data.push('@item.WorkOrderCount');
    </text>
    }
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'radar',

        // The data for our dataset
        data: {
            labels: labels,
            datasets: [{
                label: data,
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>
