@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Property Management Solutions</h1>
    <h2 class="display-2">Your Solution to Lazy Property-Mangement</h2>
    <p>Welcome to your easy Property Management platform. Here, you can contact your property adminstrator to set up a work order, see your balance, and stay in touch with the company.
    If you're a contractor, feel free to register yourself. We will be in contact once you've been approved, and you will be assigned jobs right away. Here at Property Management Solutions we care
    about the welfare, and satisfaction of our tenants, and large fleet of contractors.</p>
</div>
